

@keyframes glow {
    0%, 100% { text-shadow: 0 0 5px rgba(228, 234, 51, 0.7); }
    50% { text-shadow: 0 0 20px rgba(51, 82, 234, 0.9); }
  }


  .animate-glow {
    animation: glow 5s ease-in-out infinite;
  }